<%- include('header') -%>

<body>
  
<div class="jumbotron text-center">

  <h1> <%=resDB[0].Nom %> </h1>
</div>

<div class="container">
  <form action="/exercise/<%=resDB[0].IDExercice %>" method="post">
   <br></br>
   <div class="input-group mb-3">
    <% if(resDB[0].IDMateriel==1){ %>
      <input type="number" name="poidsmax" placeholder="Nombre de répétitions maximale" class="form-control" required> <% } %>
      <% if(resDB[0].IDMateriel!=1){ %>
     <input type="number" name="poidsmax" placeholder="Poids maximal" class="form-control" required> <% } %>
     <input type="date" name="date" placeholder="Date format (MM/DD)" class="form-control" required>
     <div class="input-group-append">
       <button class="btn btn-primary" type="submit" id="button-addon2"> Ajouter </button>
     </div>
   </div>
 </form>
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
 <div class="container">
<h1>Graphique</h1>
<canvas id="myChart"></canvas>
 </div>



  <div class="list-group">   
    
    <% for (exer of resDB4) { %>

     <a class="button list-group-item list-group-item-action">
       <div class="row">
         <div class="col-4">
       <p class="text-left font-weight-bold"><%=exer.PoidsMax%></p></div>
       <div class="col-4">
       <p class="text-right font-italic"><%=exer.Date.toLocaleDateString("en-FR")%></p></div>
       <div class="col-4 text-right">
        <form action="/" method="get">
         <button type="submit" class="btn btn-danger"> Supprimer </button>
        </form> 
       </div>
     </div>
     </a>
     <% } %>
 </div>
  
 </div>



</body>
</html>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',
  
    // The data for our dataset
    data: {
        labels: [<%=allDate%>],
        datasets: [{
            label: 'Record',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [<%=allRecord%>]
        }]
    },

    // Configuration options go here
    options: {
				responsive: true,
        scales: {
            xAxes: {
                type: 'time',
            }
        }
    }
		
});
</script>