<%- include('header') -%>

<body>
  
<div class="jumbotron text-center">

  <h1> Mes séances </h1>
 <h3> <%- resDB1[0].Nom -%>  </h3>
 <h5 class=font-italic> <%- resDB1[0].Description -%>  </h5>
</div>

 <div class="container">
 <form action="/program/<%=resDB1[0].IDProgramme %>" method="post">
  <br></br>
  <div class="input-group mb-3">
    <input type="text" name="name" placeholder="Nom nouvelle séance" class="form-control" required>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit" id="button-addon2"> Créer une séance </button>
    </div>
  </div>
</form>




 <div class="list-group">
  
  <% for (ses of resDB2) { %>
   

    <a class="button list-group-item list-group-item-action">
      <p class="text-left font-weight-bold"><%= ses.Nom %></p>
      <p class="text-right"><%= ses.Ordre %>&nbsp;</p>
    </a>
  

<% } %>
</div>
 
</div>
<%- include('../footer') -%>
</body>
</html>